/* global styles and variables */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --Strong-Cyan: hsl(171, 66%, 44%);
  --LightBlue: hsl(233, 100%, 69%);
  --Dark-Grayish-Blue: hsl(210, 10%, 50%);
  --Grayish-Blue: hsl(201, 11%, 66%);
  font-size: 18px;
  font-family: "Bai Jamjuree", sans-serif;
}
h2,
h3,
h4{
    color: var(--Dark-Grayish-Blue);
}
.header,
.f-top {
  max-width: 680px;
  width: 100%;
  margin: 100px auto;
  text-align: center;
}
/* header tyling */
.header {
  max-width: 680px;
  width: 100%;
  margin: 100px auto;
  text-align: center;
}
.heading {
  font-size: 2.2rem;
  font-weight: 700;
  margin: 50px 0 20px 0;
}
.btn-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-top: 30px;
}
.btn {
  background-color: var(--Strong-Cyan);
  color: white;
  padding: 15px 25px;
  border-radius: 25px;
  font-size: 1.2rem;
  font-weight: 700;
  text-decoration: none;

  border: none;
}
.btn:last-child {
  background-color: var(--LightBlue);
}
.f-top h3 {
  font-size: 1.8rem;
  margin-bottom: 15px;
}
.f-button {
  display: flex;
  gap: 100px;
}
.f-button figure {
    max-width: 700px;
    width: 100%;
}
.f-button figure img{
    width: 100%;
    height: auto;
}
.f-right{
    max-width: 400px;
    width: 100%;

}
.f-right1, .f-right2, .f-right3{
    margin: 60px 0;
}
.f-right h3{
    font-size: 1.5rem;
    margin-bottom: 10px;
}
.section1, .section2{
    margin: 100px auto;
}
.section2{
    text-align: center;
 
}
.section2 h3{
    font-size: 1.8rem;
    margin-bottom: 20px
}
.section2 p{
    font-size: 1rem;
}
.section2 figure{
    max-width: 800px;
    width: 100%;
    margin: 100px auto 20px auto;
}
.section2 figure img{
    width: 100%;
    
}













/*attribution style starts here*/
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
